<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<h2>新規投稿</h2>
<% if @post.errors.any? %>
<h3><%= @post.errors.count %>errors prohibited this post from being saved:</h3>
<% @post.errors.full_messages.each do |message| %>
<ul>
  <li><%= message %></li>
</ul>
<% end %>
<% end %>

<%= form_for(@post) do |f| %>
<div class="field">
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>

<div class="field">
  <%= f.label :body %>
  <%= f.text_area :context %>
</div>

<div class="submit">
  <%= f.submit %>
</div>
<% end %>
