<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<%= notice %>

<h2>新規投稿</h2>
<% if @post.errors.any? %>
<h3><%= @post.errors.count %>errors prohibited this post from being saved:</h3>
<% @post.errors.full_messages.each do |message| %>
<ul>
  <li><%= message %></li>
</ul>
<% end %>
<% end %>

<%= form_for(@post) do |f| %>
<div class="field">
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>

<br>

<div class="field">
  <%= f.label :body %>
  <%= f.text_area :context %>
</div>

<%= f.label :category, 'カテゴリ' %>
<%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |category| %>
<%= category.label do %>
<%= category.check_box %>
<%= category.text %>
<% end %>
<% end %>

<div class="submit">
  <%= f.submit %>
</div>
<% end %>

<h2>検索</h2>
<%= search_form_for @q do |f| %>
<%= f.label :title_or_context, "スレタイ/レス" %>
<%= f.search_field :title_or_context_cont %>
<%= f.submit "検索" %>
<% end %>

<h2>投稿一覧</h2>
<% @posts.each do |post| %>
<%= post.user.name %>
<%= link_to post.title, post %>
<%= truncate(post.context, length: 20) do %>
  <%= link_to "続きを読む", post %>
<% end %>
<% end %>
