<div class="container col-lg-10 text-right">
  <%= search_form_for @q do |f| %>
  <%= f.search_field :title_or_context_cont ,class:"mb-2"%>
  <%= f.submit "検索" %>
  <% end %>
</div>

<%= notice %>


<div class="container">
  <% if @post.errors.any? %>
  <h3><%= @post.errors.count %>errors prohibited this post from being saved:</h3>
  <% @post.errors.full_messages.each do |message| %>
  <ul>
    <li><%= message %></li>
  </ul>
  <% end %>
  <% end %>
</div>

<div class="container col-lg-10">
  <% @posts.each do |post| %>
  <div class="row card mb-2">
    <%= link_to post.title, post, class: "text-black" %>
    <%= truncate(post.context, length: 200) do %>
    <%= link_to "続きを読む", post %>
    <% end %>
  </div>
  <% end %>
</div>


<div class="container card bg-success col-lg-10">
  <%= form_for(@post) do |f| %>
  <div class="mt-2">
    <%= f.submit "新規スレッド作成", class: "btn btn-primary" %>
  </div>
  <div class="row ml-4 mt-2">
    <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |category| %>
    <%= category.label do %>
    <%= category.check_box %>
    <%= category.text %>
    <% end %>
    <% end %>
  </div>

  <div class="row m-2 col-lg-6">
    <span>スレッドタイトル</span>
    <%= f.text_field :title, class: "form-control title" %>
  </div>

  <div class="row m-2 col-lg-8">
    <%= f.text_area :context, class: "form-control context" %>
  </div>

  <% end %>
</div>
