<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>

<% if @comment.errors.any? %>
<h3><%= @comment.errors.count %>errors prohibited this comment from being saved:</h3>
<% @comment.errors.full_messages.each do |message| %>
<ul>
  <li><%= message %></li>
</ul>
<% end %>
<% end %>

投稿者：名無しさん
タイトル：<%= @post.title %>
本文：<%= @post.context %>
<% if @post.categories.present? %>
  <% @post.categories.each do |category| %>
    <%= category.name %>
  <% end %>
<% else%>
  <span>カテゴリー未選択</span>
<% end %>

<% if @user == current_user %>
<%= link_to "削除する",@post, method: :delete, data: {confirm: "本当に削除してもよろしいですか？"} %>
<% end %>

<%#= ここにコメントをレスとして追加 %>

<%= form_for [@post, @comment] do |f| %>
  <%= f.text_field :context %>
  <br>
  <%= f.submit 'コメントする' %>
<% end %>

<% @comments.each do |comment| %>
  <div>
    <%= comment.context %>
    ID:<%= @post.user.id %>
  </div>
<% end %>

<%= link_to "一覧ページへ戻る", posts_path %>
