<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>

投稿者：<%= @user.name %>
タイトル：<%= @post.title %>
本文：<%= @post.context %>

<%#= ここにコメントをレスとして追加 %>

<%= form_for [@post, @comment] do |f| %>
  <%= f.text_field :context %>
  <br>
  <%= f.submit 'コメントする' %>
<% end %>

<% @comments.each do |comment| %>
  <div>
    <%= comment.context %>
    ID:<%= @post.user.id %>
  </div>
<% end %>
