<!DOCTYPE html>
<html>
  <head>
    <title>BulletinBoard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header class="navbar navbar-light bg-light">
      <div class="container">
        <nav class="nav navbar-nav navbar-left">
          <h3>プログラミング掲示板</h3>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right">
          </ul>
        </nav>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
